{% extends "base.html" %}

{% block content %}
{% for photo in page.extra.photos %}
<figure tabindex="0">
  <img class="gallery-img"
       src="/photography/optimized/{{ photo.file | replace(from='.JPG', to='.WEBP') }}"
       alt="{{ photo.caption }} | {{ photo.year }}"
       loading="lazy"
       decoding="async">
  <figcaption>
    {{ photo.caption }}, {{ photo.year }} | <a href="/photography/{{ photo.file }}">Original</a>
  </figcaption>
</figure>
{% endfor %}
<div class="backdrop"></div>
{% endblock content %}